.meal-description{
  width: 300px;
  height: 100px;
  background-color: #edf2f4;
}

.input-calories{
  width: 300px;
  height: 100px;
  margin-left: 30px;
  background-color: #edf2f4;
}

.calendar{
  width: 300px;
  height: 100px;
  background-color: #edf2f4;
}

.input-img{
  width: 300px;
  height: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #edf2f4;
}

#meal-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.meal-div{
  margin-top: 5%;
  margin-bottom: 40px;
}

.meal-btn{
  height: 40px;
  width: 100px;
  background-color: #d90429;
  color: white;
  border-radius: 10%;
}

@media(max-width: 1650px){
  .meal-div{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
} 

@media(max-width: 1650px){
  .input-calories{
    margin-top: 30px;
    margin-right: 30px;
  }
} 