body{
  margin: 0px;
}

.root-nav{
  display: flex;
  justify-content: space-evenly;
  display: flex;
  align-items: center;
}

.navlink{
  color: white;
  height: 50px;
  display: flex;
  align-items: center;
}

#root-btn{
  background-color: lightgray;
  box-shadow: 3px 1.5px 1.5px black;
  border-radius: 8%;
  height: 25px;
}

.rootnav-container{
  background-color: #4361ee;
}

