body{
  margin: 0px;
}

.root-nav{
  display: flex;
  justify-content: space-evenly;
  display: flex;
  align-items: center;
}

.navlink{
  color: #12CBC4;
  height: 70px;
  display: flex;
  align-items: center;
}

#root-btn{
  background-color: lightgray;
  box-shadow: 3px 1.5px 1.5px black;
  border-radius: 8%;
  height: 25px;
}

.rootnav-container{
  background-color: #00308F;
}

/* @media(max-width: 1650px){
  .rootnav-container{

  }
}  */